$alto: #e0e0e0;
$facebook: #025dfa;
$fruit-salad: #4caf50;
$gallery: #eeeeee;
$linkedin: #0076b8;
$mine-shaft: #363636;
$pomegranate: #f44336;
$sea-green: #2e7d32;
$silver-chalice: #9e9e9e;
$twitter: #069cd5;
$youtube: #FF0000;
$dodger-blue: #2196F3;
