.big-margin-bottom {
  margin-bottom: 20px;
}

.medium-margin-bottom {
  margin-bottom: 10px !important;
}

.big-margin-top {
  margin-top: 20px;
}

.big-blue-border-left {
  border-left: 8px solid $dodger-blue;
}

.blue-border-top {
  border-top: 5px solid $dodger-blue;
}

.big-green-border-left {
  border-left: 8px solid $fruit-salad;
}

.big-red-border-left {
  border-left: 8px solid $youtube;
}

.green-border-top {
  border-top: 5px solid $fruit-salad;
}

.medium-margin-top {
  margin-top: 10px;
}

.rounded-borders {
  border-radius: 5px;
}

.vertical-center {
  align-items: center;
}

.right-justify-content {
  justify-content: flex-end;
}
