%nav.menu
  %p.menu-label
    General
  %ul.menu-list
    %li
      = link_to admin_path, class: nav_class_if_active('pages#dashboard') do
        %span.icon.is-small
          %i.fa.fa-tachometer
        Dashboard
  %p.menu-label
    Administration
  %ul.menu-list
    %li
      = link_to admin_users_path, class: nav_class_if_active('users#') do
        %span.icon.is-small
          %i.fa.fa-users
        Users
    %li
      = link_to admin_posts_path, class: nav_class_if_active('posts#') do
        %span.icon.is-small
          %i.fa.fa-book
        Posts
  %p.menu-label
    More
  %ul.menu-list
    %li
      %a
        %span.icon.is-small
          %i.fa.fa-cog
        Additional Pages
      %ul
        %li
          = link_to destroy_user_session_path, method: :delete, class: nav_class_if_active('pages#login') do
            Exit
