%nav.navbar.navbar-admin{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "/"}
      = image_tag 'codeando-green-logo.png', class: 'logo'
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      %a.navbar-item
        Home
    .navbar-end
      = link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do
        Log out
