%aside.column.is-2.is-narrow-mobile.is-fullheight.section.is-hidden-mobile
  %p.menu-label.is-hidden-touch Navigation
  %ul.menu-list
    %li
      = link_to admin_path, class: nav_class_if_active('home#') do
        %span.icon.is-small
          %i.fa.fa-tachometer
        Dashboard
    %li
      = link_to admin_posts_path, class: nav_class_if_active('posts#') do
        %span.icon.is-small
          %i.fa.fa-book
        Posts
    %li
      = link_to admin_users_path, class: nav_class_if_active('users#') do
        %span.icon.is-small
          %i.fa.fa-users
        Users
