.card.sidebar-personal-info.blue-border-top.rounded-borders
  .card-image
    %figure.image.is-128x128.big-margin-top.is-flex
      = image_tag 'avatar', alt: 'Codeando Avatar'
  .card-content.has-text-centered
    %h5.title.is-5 Follow Codeando
    %hr
    %ul.sidebar-social-list
      %li
        %a.social-link.facebook{href: '/'}
          = fa_icon 'facebook'
      %li
        %a.social-link.twitter{href: '/'}
          = fa_icon 'twitter'
      %li
        %a.social-link.youtube{href: '/'}
          = fa_icon 'youtube'
