<% if alert || notice %>
  <div id="flash" class="big-margin-bottom">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <a href="#" data-dismiss="alert" class="delete">×</a>
        <h3 class="title is-5"><%= value %></h3>
      </div>
    <% end %>
  </div>
<% end %>
