%section.hero.is-medium.is-bold.home-hero
  .hero-body
    .container.has-text-centered
      %h1.title.is-1.has-text-white
        Hero title
      %h2.subtitle.is-3.has-text-white
        Hero subtitle
  .background
