%ul.sidebar-social-list
  %li
    %a.social-link.facebook{href: '/'}
      = fa_icon 'facebook'
  %li
    %a.social-link.twitter{href: '/'}
      = fa_icon 'twitter'
  %li
    %a.social-link.youtube{href: '/'}
      = fa_icon 'youtube'
  %li
    %a.social-link.linkedin{href: '/'}
      = fa_icon 'linkedin'
