.card.sidebar-personal-info.green-border-top.big-margin-top.rounded-borders
  .card-image
    %figure.image.is-128x128.big-margin-top.is-flex
      = image_tag 'me', alt: 'Me'
  .card-content
    .has-text-centered
      %h4.title.is-4 David Sanchez
      %h6.subtitle.is-6.has-text-grey-light Software Engineer
      %p
        Human during the day, Software developer at night.
      %hr
      .big-margin-top
        %h5.title.is-5 Follow me 
        %ul.sidebar-social-list
          %li
            %a.social-link.twitter{href: '/'}
              = fa_icon 'twitter'
          %li
            %a.social-link.github{href: '/'}
              = fa_icon 'github'
          %li
            %a.social-link.linkedin{href: '/'}
              = fa_icon 'linkedin'
