%section.section
  .container
    .sidebar-personal-info
      %figure.image.big-margin-top.is-flex
        = image_tag 'me', alt: 'Me', class: "big-me-avatar"
      .has-text-centered.big-margin-top
        %h4.title.is-2 David Sanchez
        %h6.subtitle.is-4.has-text-grey-light
          Software Engineer at 
          = link_to 'michelada.io', 'https://michelada.io/', target: '_blank'
      .self-description.big-margin-top.has-text-centered
        %p.is-size-5
          I'm 28 years old and I live in Guadalajara. I love teaching and <br/>
          help other people, I like sharing my knowlegde and programming <br/>
          is my passion.<br/><br/>
          Personally Ruby/Rails are my favorite technologies, but currently <br/>
          I also do a little Elixir/Phoenix and React.
