%section.section
  .container
    .columns
      .column.is-two-thirds
        #blog
        = javascript_pack_tag 'blog'
      .column
        = render 'shared/more_visited'
        .big-margin-top
          = render 'shared/tags_list'
