.sidebar-personal-info {
  figure.image {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;

    img {
      border-radius: 50%;
    }
  
    img {
      &.me-avatar {
        height: 128px;
        object-fit: cover;
        width: 128px;
      }
  
      &.big-me-avatar {
        height: 256px;
        object-fit: cover;
        width: 256px;
      }
    }
  }
}

.sidebar-social-list {
  li {
    display: inline-block;
    margin-right: 5px;
  }

  a.social-link {
    border-radius: 100%;
    border: 1px solid $alto;
    display: inline-block;
    height: 45px;
    line-height: 30px;
    padding: 6px;
    text-align: center;
    transition: all ease .3s;
    vertical-align: middle;
    width: 45px;

    &.facebook {
      color: $facebook;

      &:hover {
        background-color: $facebook;
        color: white;
      }
    }

    &.twitter {
      color: $twitter;

      &:hover {
        background-color: $twitter;
        color: white;
      }
    }

    &.youtube {
      color: $youtube;

      &:hover {
        background-color: $youtube;
        color: white;
      }
    }

    &.github {
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    &.linkedin {
      color: $linkedin;

      &:hover {
        background-color: $linkedin;
        color: white;
      }
    }
  }
}
