#posts, #blog {
  .post-footer {
    .post-footer-icons {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    .post-footer-item {
      margin-left: 20px;

      .count {
        margin-left: 5px;
      }

      i.fa-heart {
        color: $pomegranate;
      }
    }
  }

  .post-header {
    display: flow-root;

    .post-header-tags {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
    }
  }
}

.post-loading {
  .post-loading-header {
    background: $alto;
    border-radius: 20px;
    padding: 10px;
    width: 60%;
  }

  .post-loading-content {
    background: $alto;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px;

    &.is-40 {
      width: 40%;
    }

    &.is-60 {
      width: 60%;
    }

    &.is-80 {
      width: 80%;
    }
  }

  .post-loading-button {
    background: $alto;
    border-radius: 20px;
    padding: 18px;
    width: 15%;
  }
}
