.post-container {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;

  .image img.post-image {
    height: 200px;
    width: 300px;
  }

  .post-content p {
    line-height: 1.58;
  }

  .post-video {
    height: 500px;
    width: 100%;
  }
}
