%section.section
  .container
    %h1.title.is-2 Playlists
    .columns.is-multiline
      - @playlists.each do |playlist|
        .column.is-half-desktop.is-full-tablet
          = render 'shared/playlist_card', playlist: playlist
